<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Detalle del Vehículo')}"><title>PRINCIPAL</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('vehiculos')}"></nav>
<div class="container bg-white">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">[[${car.plateCode}]]</li>
        <li class="list-group-item">[[${car.brand}]]</li>
        <li class="list-group-item">[[${car.model}]]</li>
        <li class="list-group-item">[[${car.subsidiary}]]</li>
        <li class="list-group-item">[[${car.color}]]</li>
        <li class="list-group-item">[[${car.year}]]</li>
        <li class="list-group-item">[[${car.capacity}]]</li>
        <li class="list-group-item">[[${car.cost}]]</li>
        <li class="list-group-item">[[${car.type}]]</li>
    </ul>
</div>
</body>
</html>