<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/head :: head_tag('Detalle del Vehículo')}"><title>PRINCIPAL</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('vehiculos')}"></nav>
<div class="container bg-white">
    <img th:src="@{'/img/' + ${car.image}}" alt="Foto Vehículo" width="600" height="400">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Placa Patente: [[${car.plateCode}]]</li>
        <li class="list-group-item">Marca: [[${car.brand}]]</li>
        <li class="list-group-item">Modelo: [[${car.model}]]</li>
        <li class="list-group-item">Sucursal: [[${car.subsidiary}]]</li>
        <li class="list-group-item">Color: [[${car.color}]]</li>
        <li class="list-group-item">Año: [[${car.year}]]</li>
        <li class="list-group-item">Capacidad: [[${car.capacity}]] pasajeros</li>
        <li class="list-group-item">Valor: $[[${car.cost}]]</li>
        <li class="list-group-item">Tipo Vehículo: [[${car.type}]]</li>
        <li class="list-group-item" sec:authorize="hasRole('ROLE_RESERVATION_C')">
            <a th:href="@{/nueva-reserva(idVehiculo=${car.id})}" class="btn btn-primary">Reservar</a>
        </li>
    </ul>
</div>
</body>
</html>