<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a Car - Tu mejor opción para rentar autos</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/estilo.css}"/>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Rent a Car</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="principal.html">Inicio <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="autoBarat.html">Vehiculos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_MANAGE_CAR_R')">
                        <a class="nav-link" href="mantenedor.html">Mantenedor de vehiculos</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('RESERVATION_PAYMENT_R')">
                        <a class="nav-link" href="pagos.html">Pagos</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('RESERVATION_R')">
                        <a class="nav-link" href="reservas.html">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}" sec:authorize="!isAuthenticated()" >Inicia Sesión</a>
                        <span class="nav-link" sec:authorize="isAuthenticated()" sec:authentication="name">username</span>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}" >Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <header class="cabecera p-5">
            <div class="row">
                <div class="col-md-6">
                    <h1>Alquila un auto en High Gamma</h1>
                    <p>Ofrecemos una amplia variedad de vehiculos para satisfacer todas tus necesidades de
                        transporte.¡Reserva hoy mismo!</p>
                    <a href="Reserva.html" class="btn btn-primary btn-lg">Reservar ahora</a>
                </div>
                <div class="col-md-6">
                    <img th:src="@{/img/auto.jpg}" alt="Alquila un auto con Rent a Car" class="img-fluid">
                </div>
            </div>
        </header>
        <div class="row mt-5">
            <div class="col">
                <h1>¿Por qué arrendar con nosotros?</h1>
                <p><ol><li>Porque somos una empresa joven e innovadora</li> 
                    <li>Porque conocemos el mercado </li> 
                    <li>Porque sabemos lo complejo que es</li></ol> 
                                  
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h1>Nuestros Servicios</h1>
                <p>
                    <ol><li> Servicio de renta de autos</li>
                    <li> Servicio "Te llevo?"</li>
                    <li> Seguros</li> </ol>
                </p>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; Información adicional</p>
        <ul>
          
          <li><a href="requisitos.html">Requisitos para arrendar</a></li>
          <li><a href="/conectar">Contacto</a></li>
          <li><a href="/rrss">Redes Sociales</a></li>
        </ul>
    </footer>
</body>

</html>